<h1>Tweets</h1>

<table>
  <thead>
    <tr>
      <th>Contenido</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%=image_tag tweet.user.image_url, class: "images_avatar rounded-circle border border-info " %></td>  
        <td><%= tweet.user.name %></td>
        <td><%= tweet.content %></td>
        <td><%= link_to 'Ver', tweet %></td>
        <td><%= link_to 'Editar', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Eliminar', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <%=tweet.likes_count%>
        <%= link_to 'like', likes_path(tweet.id), method: :post, class: "fas fa-heart"%>
        
        <%=tweet.retweets_count%>
        <%= link_to 'retweet', retweets_path(tweet.id), method: :post, class: "fas fa-retweet"%> 

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Tweet', new_tweet_path %>
<%= paginate @tweets %>